body {
  font-family: Inter-Regular, sans-serif;
  letter-spacing: 0.5px;
  color: #080b18;
  background-color: white;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.container {
  position: relative;
}
