#cart {
  position: relative;
  left: 65vw;
  padding: 2rem;
  top: 3vh;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  img {
    max-height: 40px;
    margin-right: 15px;
  }
}

#account {
  padding: 2rem;

  img {
    max-height: 40px;
  }
}

#cart__icon {
  position: relative;
  top: 1.5vh;
}

#account__icon {
  position: relative;
  top: 1.5vh;
  left: 0.7vw;
}
