footer {
  background-color: #47823d;
  margin-top: 4rem;
}

.service__infobox {
  background-color: white;
  box-shadow: 4px 4px 10px rgb(41, 41, 41);
  border-radius: 1rem;
  width: 75%;
  padding: 0.7rem 0.5rem;
  margin: auto;
  position: relative;
  top: 2rem;

  p {
    margin: 0.3rem 2rem;
  }
}

.footer__links {
  color: white;
  margin-top: 2rem;
  letter-spacing: 1.2px;

  h4 {
    font-size: 1.3rem;
    width: 110%;
  }

  &:nth-child(3) {
    margin-bottom: 4rem;
  }

  p {
    text-align: left;
    margin-left: 5px;
    margin: 3px;
    letter-spacing: 1px;
  }

  p:hover {
    color: yellow;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
}

#grid__footer {
  margin: 4rem auto 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  grid-template-areas:
    "item-1 item-2"
    "item-3 item-4";
}
