.footer__bottom {
  margin: auto;
  position: relative;
  top: 30%;
  width: 50%;
  display: block;
  text-align: left;
  color: white;
  line-height: 1.2;
}

.copyright {
  font-size: 1.3rem;
}
