main {
  #hero__img {
    margin-top: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 1.6rem;
    color: #47823d;
    font-family: Inter-SemiBold;
    margin: 4rem 0 -1rem;
  }
  .line {
    border: 2px solid #285327;
    background-color: #285327;
    width: 80%;
    margin: 0.5rem auto;
    border-radius: 1rem;
  }

  #grid__populars {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1.3rem;

    img {
      max-width: 90%;
      border-radius: 0.7rem;
      display: flex;
      margin: 0 auto;
    }
  }
}

#grid__choose {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  gap: 1.3rem;

  img {
    max-width: 90%;
    border-radius: 0.7rem;
    display: flex;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    font-family: Inter-Medium;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #47823d;
    margin: 2rem 0 1rem;
  }

  p {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.03rem;
  }
}
