@media screen and (max-width: 360px) {
  header {
    display: none;
    nav {
    }
  }
  main {
    #hero__img {
      background-color: yellow;
    }
    section {
      display: none;
    }
  }

  footer {
    .footer__links {
      display: none;
    }
    .customerinfo {
      display: none;
    }
    .footer__bottom {
      position: relative;
      top: 75%;
      width: 90%;
    }
    .privacy__policy {
      margin: 5px 5px;
    }
  }
}
